*{
    padding: 0;
    margin: 0;
}

body{
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 450;
    font-style: normal;
    background-color: #D4D3DC;
    
}

header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-image: url(../images/index/header/header-background2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 5px;
    margin-bottom: 20px;
    color: #D0D5D2;
}

.logo{
    width: 80px;
    height: auto;
    border-radius: 60px;
}

.titre{
    margin: auto;
    text-align: center;
}

.nom{
    padding-right: 5px;
}

main{
    margin: 0px;
    background-image: url(../images/index/main/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.td123, .td45, .td678{
    display: flex;
    flex-direction: row;
}
.td123, .td678{
    justify-content: space-around;
}

.td45{
    justify-content: center;
}
.td1, .td2, .td3, .td4, .td5, .td6, .td7, .td8{
    background-color: rgba(208, 213, 209, 0.829);
    width: 350px;
    height: 350px;
    border-radius: 10%;
    padding: 30px;
    box-shadow: 5px 5px 5px #6e6e6e;
    text-align: center;
    margin-bottom: 100px;
}

.td1, .td2, .td3{
    margin-top: 40px;
}

.td4, .td5{
    margin-right: 100px ;
    margin-left: 100px;
}

main p{
    margin-bottom: 60px;
}

footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*background-image: url(../images/index/header/header-background2.jpg);*/
    background-color: #384454;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 5px;
    color: #D0D5D2;
    height: 50px;
}
footer a{
    color: #D0D5D2;
}